body {
  font-family: BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
header #search {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  padding-left: 15px;
}

.logo {
  display: flex;
  color: #07022d;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  padding-top: 5px;
}

button {
  background-color: white;
  border: 1px solid white;
}

.separator {
  width: 20px;
}

#submit {
  border: 1px solid lightgray;
}

#fas .fas-bars {
  font-size: 30px;
}

nav {
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding-left: 100px;
  padding-right: 200px;
}

.active {
  display: flex;
  color: #07022d;
  font-weight: bold;
  padding-top: 10px;
}

#search-section {
  display: flex;
  width: 2350px;
  height: 800px;
  background-color: #07022d;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 300px;
}
#search-section #search {
  border-radius: 0px;
  border: 1px solid white;
}

.header {
  font-size: 100px;
  font-weight: bold;
  text-align: left;
}

.search {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  padding: 3px;
  width: 1000px;
}

span {
  display: flex;
  font-size: 20px;
}

.trending {
  display: flex;
  align-items: center;
  text-align: left;
  flex-direction: row;
  gap: 20px;
}
.trending span {
  font-weight: bold;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 100px 300px;
  gap: 50px;
}

.first-column,
.second-column,
.third-column {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.pic {
  background-color: #e9e2d9;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 30px;
  color: #e9e2d9;
  cursor: pointer;
}
.pic button {
  background-color: #e9e2d9;
  color: #e9e2d9;
  border: 1px solid #e9e2d9;
}

.pic:hover {
  background-color: #e9e2d9;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 30px;
  color: white;
}
.pic:hover button {
  background-color: white;
  color: #e9e2d9;
  border: 1px solid #e9e2d9;
}

footer {
  border-top: 1px solid #e9e2d9;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #e9e2d9;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */