@import 'variables';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}


// Poniżej znajduje się fragment pliku style.scss opisujący wygląd zdjęć oraz ich wysokości. Na podstawie jego struktury napisz html, który będzie odpowiadał przedstawionej strukturze i w połączeniu da końcowy rezultat. Podany kod powinien pozostać bez zmian i jest to jedyne miejsce opisujące wysokości obrazków oraz nadający im kolor.

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid $pic-background;
  margin: 0;
  font-size: 50px;
  align-items: center;
  padding: 20px;
  gap: 50px;
  position: sticky;
  top: 0;
  background-color: white;
}

.podhead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid $pic-background;
  border-radius: 30px;
  font-size: 30px;
  align-items: center;
  padding: 20px;
  gap: 50px;
  background-color: white;
  margin: 2%;
}

i.fab.fa-pinterest {
  color: red;
}

.fa-solid.fa-bell {
  position: relative;
  left: 70px;
}

.a {
  background-color: rgb(17, 17, 17);
  color: #efefef;
  padding: 20px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 30px;
  width:300px;
  text-align: center;
}

.b {
  width: 100%;
  font-size: 30px;
  color: rgb(17, 17, 17);
  background-color:  #efefef;
  padding: 20px;
  border-radius: 30px;
}

.c {
  background-color: red;
  color: white;
  border-radius: 30px;
  padding: 2px;
  font-size: 20px;
  z-index: 1;
  position: relative;
  bottom: 10px
}

.e {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.f {
  border-radius: 100%;
  background-color:#efefef ;
  font-size: 20px;
  padding: 20px;
}


.secondary {
font-size: 30px;
padding: 5px;
white-space: nowrap;
background-color: #efefef;
color:black;
border-radius: 20px;
border: 1px solid #efefef;
font-weight: bold;

}
.content {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;

  .column {
    display: flex;
    flex-direction: column;
    gap: 20px;

    > .pic {
      background-color: $pic-background;
      border-radius: 1.5625rem;
    }
    
    &:first-of-type {
      > .pic {
        &:first-of-type { height: 14rem; }
        &:nth-of-type(2) { height: 20rem; }
        &:nth-of-type(3) { height: 23rem; }
        &:nth-of-type(4) { height: 17rem; }
        &:nth-of-type(5) { height: 19rem; }
        &:nth-of-type(6) { height: 16rem; }
      }
    }
    &:nth-of-type(2) {
      > .pic {
        &:first-of-type { height: 18rem; }
        &:nth-of-type(2) { height: 20rem; }
        &:nth-of-type(3) { height: 18rem; }
        &:nth-of-type(4) { height: 19rem; }
        &:nth-of-type(5) { height: 16rem; }
        &:nth-of-type(6) { height: 20rem; }
      }
    }
    &:nth-of-type(3) {
      > .pic {
        &:first-of-type { height: 17rem; }
        &:nth-of-type(2) { height: 23rem; }
        &:nth-of-type(3) { height: 16rem; }
        &:nth-of-type(4) { height: 18rem; }
        &:nth-of-type(5) { height: 14rem; }
        &:nth-of-type(6) { height: 20rem; }
      }
    }
    &:nth-of-type(4) {
      > .pic {
        &:first-of-type { height: 19rem; }
        &:nth-of-type(2) { height: 16rem; }
        &:nth-of-type(3) { height: 17rem; }
        &:nth-of-type(4) { height: 19rem; }
        &:nth-of-type(5) { height: 16rem; }
        &:nth-of-type(6) { height: 17rem; }
      }
    }
    &:nth-of-type(5) {
      > .pic {
        &:first-of-type { height: 17rem; }
        &:nth-of-type(2) { height: 19rem; }
        &:nth-of-type(3) { height: 18rem; }
        &:nth-of-type(4) { height: 14rem; }
        &:nth-of-type(5) { height: 15rem; }
        &:nth-of-type(6) { height: 17rem; }
      }
    }
    &:nth-of-type(6) {
      > .pic {
        &:first-of-type { height: 15rem; }
        &:nth-of-type(2) { height: 17rem; }
        &:nth-of-type(3) { height: 19rem; }
        &:nth-of-type(4) { height: 14rem; }
        &:nth-of-type(5) { height: 20rem; }
        &:nth-of-type(6) { height: 18rem; }
      }
    }
  }
}