@charset "UTF-8";
body {
  background-color: #333;
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 0.875em;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

.nagłówek {
  align-items: center;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 5px solid rgba(32, 32, 32, 0.3);
}

.title {
  position: sticky;
  color: #8b8b8b;
  font-size: 50px;
  width: 100%;
}

.blog {
  color: #fcc133;
}

.secondary1 {
  font-size: 30px;
  width: 200px;
  border-radius: 10px;
  margin-right: 20px;
  font-weight: bold;
}

.secondary2 {
  background-color: #ff3600;
  color: white;
  font-size: 30px;
  width: 200px;
  border-radius: 10px;
  margin-right: 20px;
  font-weight: bold;
}

.numbers {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
  justify-content: end;
  padding: 20px;
  margin: 3% 5%;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 5px solid rgba(32, 32, 32, 0.3);
}

.liczby {
  font-weight: bold;
  padding: 10px;
}

.body {
  display: flex;
  width: 80%;
  margin-left: 200px;
  margin-right: 200px;
}

.boxes {
  margin: 0 20px;
  text-align: center;
  height: 100px;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px;
}

.boxes1 {
  display: grid;
  background-color: #8b8b8b;
  width: 100px;
  margin-bottom: 20px;
  height: 100px;
  align-items: center;
  padding: 10px;
}

.boxes2 {
  display: grid;
  background-color: #8b8b8b;
  width: 100px;
  height: 100px;
  align-items: center;
  padding: 10px;
}

.box {
  width: 1500px;
  background-color: #8b8b8b;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.views {
  display: flex;
  top: 30px;
  position: relative;
  justify-content: end;
}

.personal {
  margin-left: 10%;
  background-color: rgba(111, 111, 111, 0.3);
  padding: 30px;
  height: 20%;
}

.circle {
  width: 300px;
  height: 300px;
  background-color: #8b8b8b;
  border-radius: 50%;
}

.obserwuj {
  background-color: #ff3600;
  color: white;
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}

.monika {
  padding: 10px;
  font-size: 20px;
}

.monika :nth-child(1) {
  padding-bottom: 10px;
}

.info {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}

.omnie {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.wiadomość {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */