@import 'variables.scss';

body {
  width: 1710px;
  background-color: $background-color;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 25px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 25px;
}

.logo .fab.fa-youtube  {
  color: red;
}

header button { 
  border: 1px solid $background-color; 
  background-color: $background-color;
  font-weight: bold;
  font-size: 20px;
}

#left-section button { 
  border: 1px solid $background-color; 
  background-color: $background-color;
  font-weight: bold;
  font-size: 20px;
}

.fas.fa-bars {
  color: black;
}

.name {
  color: black;
  font-weight: bold;
  font-size: 24px;
  margin: 3px;
}

.pl {
  position: relative;
  top: -7px;
  font-size: 14px
}

#search {
  padding: 5px;
  width: 700px;
}

.search {
  font-size: 12px;
  padding: 12px;
  border: 1px solid grey;
  border-left: 1px solid $background-color;
}

.login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid blue;
  color: blue;
  text-transform: uppercase;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}


#body {
  display: flex;
  flex-direction: row;
}

#left-section {
  display: flex;
  flex-direction: column;
  width: 350px;
  font-size: 20px;
  padding-top: 10px;
}

#main-section {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-group {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
}

#left-section .header {
  text-transform: uppercase;
  color: grey;
  font-weight: bold;
  padding: 10px;
}

#left-section .login {
  border: 1px solid blue;
  margin-bottom: 10px;
}

.link-group li {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px
}

.login-info {
  border-bottom: 1px solid grey;
}

#left-section :nth-child(7) {
  border-bottom: 1px solid grey;
}

.buttons {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.buttons button {
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  border: 1px solid grey;
  height: 30px;
}

.active {
  color: white;
  background-color: black;
}

.main-movie-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  border-top : 1px solid grey;
  border-bottom : 1px solid grey;
}

.main-movie-section .header {
  grid-column: span 4;
  font-size: 30px;
  padding-top: 20px;
  font-weight: bold;
}

.title {
  font-size: 20px;
  font-weight: bold;
  width: 200px
}

#main-section .main-movie-section {
  background-color: white;
  padding: 20px
}

.movie-frame {
  height: 200px;
  width: 350px;
}

.main-movie-section .movie:nth-child(1) .movie-frame {
  background-color: #e1bbbb;
}

.main-movie-section .movie:nth-child(2) .movie-frame {
  background-color: #e1c6bb;
}

.main-movie-section .movie:nth-child(3) .movie-frame {
  background-color: #eeeccc;
}

.main-movie-section .movie:nth-child(4) .movie-frame {
  background-color: #d7e1bb;
}

.main-movie-section .movie:nth-child(5) .movie-frame {
  background-color: #bbe1ca;
}

.main-movie-section .movie:nth-child(6) .movie-frame {
  background-color: #bbdce1;
}

.main-movie-section .movie:nth-child(7) .movie-frame {
  background-color: #bcbbe1;
}

.main-movie-section .movie:nth-child(8) .movie-frame {
  background-color: #d9bbe1;
}

.main-movie-section:nth-last-child(2) .movie .movie-frame {
  background-color: lightgrey;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: lightgray;
  position: relative;
  bottom: -40px
}

.movie-info {
  position: relative;
  left: 60px;
}